<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net8.0</TargetFramework>
    <PublishDir>$(MSBuildProjectDirectory)\publish\</PublishDir>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <CopyOutputSymbolsToPublishDirectory>False</CopyOutputSymbolsToPublishDirectory>
    <DebugType>None</DebugType>
    <SelfContained>False</SelfContained>
    <PublishSingleFile>False</PublishSingleFile>
    <PublishReadyToRun>False</PublishReadyToRun>
  </PropertyGroup>
</Project>
