<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net8.0</TargetFramework>
    <Platform>Any CPU</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>$(MSBuildProjectDirectory)\publish\IIS\</PublishDir>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <PublishSingleFile>False</PublishSingleFile>
    <PublishReadyToRun>False</PublishReadyToRun>
    <DebugType>None</DebugType>
    <CopyOutputSymbolsToPublishDirectory>False</CopyOutputSymbolsToPublishDirectory>
    <EnvironmentName>Production</EnvironmentName>
    <GenerateIisConfig>true</GenerateIisConfig>
  </PropertyGroup>
</Project>
